.allMaterials{
    min-height: 10em;
    max-height: 30em;
    overflow-y: scroll;
    border:1px solid black;
}

.choosenMaterials{
    min-height: 15em;
    border:1px solid black;
    background-color: #a7aaaf;
    margin-bottom: 0em;
}

.material{
    height: 100px;
}

.tafelPoten1{
    width: 3em;
    height: 3em;
    background-color: black;
    margin: 0em;
    float: left;
    overflow: hidden;
}

.tafelPoten2{
    width: 3em;
    height: 3em;
    background-color: black;
    overflow: hidden;
    float: right;

}
