<ion-header>
    <ion-navbar class="pageHeader">
      <button ion-button menuToggle>
        <ion-icon name="menu" class="menuIcon"></ion-icon>
      </button>
      <ion-title class="pageTitle">Hermaak Oefening</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>

        <ion-item-group *ngFor="let labo of teHermakenOefeningen" no-lines>
            <ion-item-divider color="light">{{labo.laboNaam}}</ion-item-divider>
            <ion-item *ngFor="let oefening of labo.oefeningen" no-lines>
                <a (click)="openOefening(oefening)">{{oefening.oefeningNaam}}</a>
            </ion-item>
        </ion-item-group>

    </ion-content>

    <!-- Id dat wordt meegegeven aan de openOefening functie komt uit de json-file -->
  